.todolist {
  width: 100%;
  max-width: 600px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  @include box-shadow(0 0 60px 0 rgba(0, 0, 0, 0.25));

  &__header {
    padding: 40px 0;
    border-bottom: 1px solid #5BA9F0;
    position: relative;

    &-settings {
      position: absolute;
      top: calc(100% + 1px);
      left: 0;
      right: 0;
      min-height: 400px;
      z-index: 11;
      pointer-events: none;
      background-color: #fff;
      padding: 10px 0;
      @include transition(all .3s ease-in-out);
      @include opacity(0);
      @include box-shadow(0 10px 10px 0 rgba(0, 0, 0, .1));

      &.active {
        pointer-events: all;
        @include opacity(1);
      }
      &_row {
        @include flexbox();
        @include flex-wrap(wrap);
      }
      &_label {
        width: 50%;
        color: #595959;
        height: 60px;
        line-height: 40px;
        padding: 10px 20px;
        font-size: 16px;

        @media (max-width: 600px) {
          width: 100%;
          height: auto;
          line-height: normal;
          padding: 5px 10px;
        }
      }
      &_input {
        width: 50%;
        height: 60px;
        line-height: 40px;
        padding: 10px 20px;
        font-size: 16px;

        input {
          width: 100%;
          height: 40px;
          border: 1px solid #595959;
          background: #fff;
          line-height: 40px;
          font-size: 16px;
          color: #595959;
          padding: 0 10px;
          @include transition(all .3s ease-in-out);
          @include placeholder {
            color: #5BAAF1;
            @include transition(all .3s ease-in-out);
          }
          &:focus {
            @include placeholder {
              line-height: 200px;
            }
          }
        }
        @media (max-width: 600px) {
          width: 100%;
          padding: 5px 10px;
          height: 55px;

          input {
            width: 100%;
          }
        }
      }
      &_btn {
        position: absolute;
        top: 50%;
        right: 20px;
        margin-top: -14px;
        z-index: 1;

        @media (max-width: 600px) {
          margin-top: -10px;
        }
      }
      @media (max-width: 600px) {
        padding: 5px 0;
      }
    }
    &-toggle_completes {
      position: absolute;
      top: 50%;
      left: 20px;
      margin-top: -16px;
      z-index: 1;

      @media (max-width: 600px) {
        margin-top: -12px;
      }
    }
    @media (max-width: 600px) {
      padding: 20px 0;
    }
  }
  &__title {
    font-size: 20px;
    line-height: 20px;
    color: #126dc2;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0;

    span {
      color: #a7a7a7;
    }
    @media (max-width: 600px) {
      font-size: 3vw;
      line-height: normal;
      position: relative;
      top: 2px;
    }
  }
  &__footer {
    @include flexbox();
  }
  &__add {
    &-input {
      width: 70%;
      height: 60px;
      border: 1px solid #5BAAF1;
      background: #fff;
      line-height: 60px;
      font-size: 16px;
      color: #5BAAF1;
      padding: 0 20px;
      @include transition(all .3s ease-in-out);
      @include placeholder {
        color: #5BAAF1;
        @include transition(all .3s ease-in-out);
      }
      &:focus {
        @include placeholder {
          line-height: 200px;
        }
      }
      &.no-text {
        border-color: #ddd;

        @include placeholder {
          color: #ddd;
        }
      }

      @media (max-width: 600px) {
        width: 80%;
        height: 50px;
        line-height: 50px;
        padding: 0 10px;
      }
    }
    &-btn {
      width: 30%;
      height: 60px;
      border: 1px solid #5BAAF1;
      background: #5BAAF1;
      line-height: 55px;
      font-size: 16px;
      text-align: center;
      letter-spacing: 3px;
      color: #fff;
      text-transform: uppercase;
      cursor: pointer;
      @include transition(all .3s ease-in-out);

      &:hover {
        background: darken(#5BAAF1, 15%);
        border-color: darken(#5BAAF1, 15%);
      }
      &:disabled {
        background: #ddd;
        border-color: #ddd;
        pointer-events: none;
        position: relative;
        cursor: not-allowed;

        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 9;
          pointer-events: all;
          cursor: not-allowed;
        }
      }
      @media (max-width: 600px) {
        width: 20%;
        font-size: 0;
        position: relative;
        padding: 0;
        height: 50px;
        line-height: 45px;

        &:after {
          content: '+';
          position: absolute;
          top: -3px;
          left: 3px;
          right: 0;
          bottom: 0;
          font-size: 40px;
        }
      }
    }
  }
  &__content {
    min-height: 400px;
    overflow: hidden;

    &.empty {
      position: relative;
      @include transition(all .3s ease-in-out);

      &:before {
        content: 'Пусто';
        font-size: 24px;
        color: #ddd;
        letter-spacing: 3px;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 9;
        pointer-events: none;
        @include flexbox();
        @include align-items(center);
        @include justify-content(center);
        @include transition(all .3s ease-in-out);
      }
    }

    @media (max-width: 600px) {
      min-height: calc(100vh - 61px - 45px);
    }
  }
  &__item {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #F0F0F0;
    @include flexbox();
    @include flex-wrap(wrap);
    @include align-items(center);
    @include transition(all .3s ease-in-out);

    //&:nth-child(odd) {
    //  background-color: #F0F0F0;
    //}
    &:hover {
      .todolist__tools-item {
        left: 0;

        @for $i from 1 through 5 {
          &:nth-child(#{$i}) {
            @include transition-delay(#{$i/10}s)
          }
        }
      }
    }
    .checkbox {
      width: calc(100% - 100px);
      height: 50px;
      padding: 0 20px;
      cursor: pointer;
      @include flexbox();
      @include align-items(center);
      @include transition(all .3s ease-in-out);

      &__icon {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
      }
      &__text {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding-left: 20px;
      }
      @media (max-width: 600px) {
        padding: 0 10px;

        &__text {
          padding-left: 15px;
        }
      }
    }
    &.active {
      z-index: 9;
    }
    &.complete {
      background-color: #cbfdcb;

      .checkbox__text {
        text-decoration: line-through;
      }
      .checkbox__icon-checked {
        @include opacity(1);
      }
    }
    &.hidden {
      display: none;
    }
  }
  &__tools {
    position: static;
    width: auto;
    @include flexbox();

    &.active {
      z-index: 0;

      .todolist__tools-item {
        left: 0;
      }
    }
    &-item {
      position: relative;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border: 0;
      cursor: pointer;
      padding: 0;
      left: 100%;
      @include transition(all .3s ease-in-out);

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        @include transition(all .3s ease-in-out);
      }
      &:hover:before {
        @include transform(rotate(360deg));
      }
      @for $i from 1 through -5 {
        &:nth-child(#{$i}) {
          @include transition-delay(#{$i/10}s)
        }
      }
      &.info {
        background-color: #FDA83D;

        &:before {
          background: url('../img/info.svg') center no-repeat;
          background-size: 30px;
        }
      }
      &.remove {
        background-color: #F7474F;

        &:before {
          background: url('../img/remove.svg') center no-repeat;
          background-size: 30px;
        }
      }
      &.save {
        background-color: #4fc017;

        &:before {
          background: url('../img/save.svg') center no-repeat;
          background-size: 30px;
        }
      }
      @media (max-width: 600px) {
        left: 0;
      }
    }
  }
  &__edit {
    position: relative;
    top: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    max-height: 0;
    padding: 0 10px;
    @include flexbox();
    @include flex-wrap(wrap);
    @include box-shadow(0 10px 10px 0 rgba(0, 0, 0, .1));
    @include transition(all .4s ease-in-out);
    @include transform(scaleY(0));

    &.active {
      padding: 20px 20px 0;
      pointer-events: all;
      max-height: 1000px;
      overflow: inherit;
      @include transform(scaleY(1));

      @media (max-width: 600px) {
        padding: 10px 10px 0;
      }
    }
    &-text {
      height: 40px;
      padding: 0 20px;
      line-height: 20px;
      font-size: 16px;
      border: 1px solid #5BAAF1;
      background: #fff;
      color: #5BAAF1;
      @include transition(all .3s ease-in-out);

      @media (max-width: 600px) {
        padding: 0 10px;
      }
    }
    &-text {
      width: 100%;
    }
    &-time {

      input {
        width: 100% !important;
        height: 40px;
        padding: 0 20px;
        line-height: 20px;
        font-size: 16px;
        border: 1px solid #5BAAF1;
        background: #fff;
        color: #5BAAF1;
        @include transition(all .3s ease-in-out);

        @media (max-width: 600px) {
          padding: 0 10px;
        }
      }
    }
    &-row {
      width: 100%;
      margin-bottom: 20px;
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
      @media (max-width: 600px) {
        margin-bottom: 10px;
      }
    }
    &-label {
      width: 50%;
      color: #595959;
      line-height: 40px;
      font-size: 16px;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
    &-input {
      width: 50%;

      @media (max-width: 600px) {
        width: 100%;
      }
    }
  }
  @media (max-width: 600px) {
    overflow: hidden;
  }
}
.checkbox {
  position: relative;

  > input {
    display: none;
  }
  &__text {
    font-size: 16px;
    color: rgb(114, 114, 114);
    padding-left: 35px;
    letter-spacing: 1.5px;
    cursor: pointer;
  }
  &__icon {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 50%;
    background-color: #fff;
    width: 20px;
    height: 20px;
    min-width: 20px;
    min-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;

    &-checked {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background-color: #126dc2;
      border-radius: 50%;
      @include transition(all .3s ease-in-out);
      @include opacity(0);
    }
  }
}
.react-datepicker {
  border-radius: 0;
  border: 0;

  &-popper {
    //position: fixed !important;
    top: -21% !important;
    left: calc(50% - 121px) !important;
    margin-top: 0 !important;
    @include box-shadow(0 0 50px 0 rgba(0,0,0,.3));
    @include transform(translate3d(0, 0, 0) !important);
    @media (max-width: 600px) {
      top: 10px !important;
    }
  }
  &__header {
    border-radius: 0;
  }
  &__current-month {
    color: #fff;
  }
  &__day-name {
    color: #fff;
  }
  &__navigation--next {
    border-left-color: #fff;
  }
  &__navigation--previous {
    border-right-color: #fff;
  }
  &__triangle {
    display: none;
  }
  &__input-container,
  &-wrapper {
    width: 100%;
  }
}
.switch {
  position: relative;
  height: 40px;
  max-width: 80px;
  cursor: pointer;
  display: block;
  width: 100%;
  border: 1px solid #595959;
  background: #fff;

  &.checked {
    .switch-icon {
      left: 3px;
      background: rgb(91, 170, 241);
    }
  }
  input {
    display: none;
    margin: 0;
  }
  &-icon {
    position: absolute;
    top: 3px;
    left: calc(50% + 1px);
    bottom: 3px;
    width: 35px;
    background: #a7a7a7;
    @include transition(all .3s ease);
  }
}